.verde1 {

    background-color: lightgreen;

}

.verde2 {

    background-color: green;

}

.verde3 {

    background-color: darkgreen;

}

.vermelho1 {

    background-color: red;

}

.vermelho2 {

    background-color: rgb(196, 74, 74);

}

.vermelho3 {

    background-color: darkred;

}